body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
a {
    color: #54565c;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
    font-size: 20px;
}